
html{
  overflow-x: hidden;
}


body{
  background-color: #ececec;
  overflow-x: hidden;
}

#slide-title{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  color: #7c94d5;
  text-align: center;
}

#nav-bar{
  width: 100%;
  margin: 1.5% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.nav-btn{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1em;
  color: #7c94d5;
  background-color: #d7d6d6bf;
  padding: 0.3em 0.3em;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container {
  width: 80%;
  margin: auto auto;
}

.slide{
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
}

.map-graphic{
  width: 50%;
  height: auto;
  margin: 3% auto;
}

.cols {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 2em auto;
}

.map-left-col{
  width: 35%;
  /* margin-right: 15%; */
  /* margin-left: 25px; */
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  gap: 2em;
  box-sizing: border-box;
}

.map-right-col{
  width: 35%;
  /* margin-right: 15%; */
  /* margin-left: 25px; */
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  gap: 2em;
  box-sizing: border-box;
}

.left-col{
  width: 35%;
  height: auto;
  /* margin-left: 15%; */
  /* margin-right: 25px; */
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

.right-col{
  width: 35%;
  /* margin-right: 15%; */
  /* margin-left: 25px; */
  display: inline-flex;
  flex-direction: column;
  vertical-align: top;
  gap: 2em;
  box-sizing: border-box;
}

.stacked-column-chart{
  width: 70%;
  height: auto;
  margin: 3% auto;
}

.description{
  width: 65%;
  margin: 2% auto;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: #333333;
  line-height: 1.5em;
}

a {
  color: #7c94d5;
  text-decoration:underline;
}

#jupyter {
  color: #ff7f00;
}

footer{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 3% auto 1% 45%;
  color: #7c94d5;
}